<h3 class="company-header">Company</h3>
<div class="ui-g ">        
    <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">

        <dua-fleetcardheader [searchModeEnabled]="false"></dua-fleetcardheader>

        <dua-bluecard>
            <form *ngIf="getFormGroup('companyform')" [formGroup]="getFormGroup('companyform')">
                <div class="ui-grid ui-grid-responsive ui-fluid">
                                        
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <dua-label>Name</dua-label>
                            <dua-input
                                [parentFormGroup]="getFormGroup('companyform')"
                                formControlName="name">
                            </dua-input>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <dua-label>Address</dua-label>
                            <dua-input
                                [parentFormGroup]="getFormGroup('companyform')"
                                formControlName="address">
                            </dua-input>
                        </div>
                    </div>

                    <div class="ui-grid-row">                                       
                        <div class="ui-grid-col-12">
                            <dua-label>Phone</dua-label>
                            <dua-input
                                [parentFormGroup]="getFormGroup('companyform')"
                                formControlName="phone">
                            </dua-input>
                        </div>
                    </div>

                    
                    <div class="ui-grid-row">                                       
                        <div class="ui-grid-col-12">
                            <dua-label>Email</dua-label>
                            <dua-input-email
                                [parentFormGroup]="getFormGroup('companyform')"
                                formControlName="email">
                            </dua-input-email>
                        </div>
                    </div>

                        
                    <div class="ui-grid-row">                                       
                            <div class="ui-grid-col-12">
                                <dua-label>Manager</dua-label>
                                <dua-input
                                    [parentFormGroup]="getFormGroup('companyform')"
                                    formControlName="manager">
                                </dua-input>
                            </div>
                        </div>

                        
                    <div *ngIf="isDualogAdmin" class="ui-grid-row">                                       
                        <div class="ui-grid-col-12">
                            <dua-label dualogadmintooltip="Only available for Dualog Administrator">Customer no.</dua-label>
                            <dua-input
                                [parentFormGroup]="getFormGroup('companyform')"
                                formControlName="customerNumber">
                            </dua-input>
                        </div>
                    </div>
                    
                    <dua-applyrow [shipStyle]="false" (onCancel)="onCancelFleetCard()"  (onApply)="onApplyFleetCard(getFormGroup('companyform'))"
                                    [disableapply]="getFormGroup('companyform').pristine || !getFormGroup('companyform').valid"
                                    [disablereset]="getFormGroup('companyform').pristine">
                    </dua-applyrow>  
                </div>
            </form>
        </dua-bluecard>
    </div>
</div>
