

@import '~styles.scss';

:host {
    // display: flex;
    flex-grow: 1;
}

.disabled-info {
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.disabled-icon {
    margin-right: 1em;
}
