
<div class="ui-grid ui-grid-responsive ui-fluid">

    <dua-cards 
        [selectedShip]="selectedShip" 
        [selectedCompareShip]="selectedCompareShip" 
        cardsTitle="Users"
        [verticalDirection]="true" 
        (showFleet)="showFleet($event)" 
        (updateShip)="handleShipChange($event)" 
        (updateCompare)="handleCompareChange($event)"
        [showNewButtonOnShipCard]="true"
        (shipNewClicked)="newRule($event)"
        (shipCancelClicked)="cancelRuleChanges($event)"
        (shipApplyClicked)="applyRuleChanges($event)"
        advancedSearchContext="users">
        
        <div compareAdvancedSearch>  
        </div>
        <div shipAdvancedSearch>
        </div>
        <div compareShip>
            <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12 rules">
                        <form *ngIf="leftForm | async; let leftForm; else loading" [formGroup]="leftForm">
                            <p-dataTable [value]="leftusers" [responsive]="true" [rowStyleClass]="getRowStyleClass" [editable]="true" expandableRows="configureFleet">
                                <p-column expander="true" [style]="{'width':'30px'}"></p-column>
                                <p-column field="name" header="Name"></p-column>
                                <p-column field="email" header="E-mail"></p-column>
                                <ng-template let-rule pTemplate="rowexpansion">
                                    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-12">
                                                something..                                               
                                            </div>
                                        </div>
                                    </div>                                
                                </ng-template>
                            </p-dataTable>
                        </form>
                        <ng-template #loading>Loading fleet users...</ng-template>
                    </div>
                </div>
            </div>
        </div>


        <div selectedShip>
             <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12 rules" >
                        <form *ngIf="shipForm | async; let shipForm; else loadingship" [formGroup]="shipForm">
                            <p-dataTable 
                                [value]="shipusers" 
                                [responsive]="true" 
                                [rowStyleClass]="getRowStyleClass"
                                (onRowDblclick)="editUser($event)">
                                
                                <p-column field="name" header="Name"></p-column>
                                <p-column field="email" header="E-mail"></p-column>
                            </p-dataTable>
                        </form>
                        <ng-template #loadingship>Loading ship users...</ng-template>                        
                    </div>
                </div>
            </div>
        </div>
 </dua-cards>

 <p-dialog [(visible)]="editShip" [width]="650" [closeOnEscape]="true">
    <p-header>
        Edit user
    </p-header>
    <edit-user #f [id]="editShip"></edit-user>
    <p-footer>
    </p-footer>
</p-dialog>
