<div *screenBelowLarge class="header-small">
  <dua-slidingmenu></dua-slidingmenu>
  <dua-vertical-bar></dua-vertical-bar>
  <dua-logo></dua-logo>
  <div class="mainmenu">
  </div>
  <dua-searchbox></dua-searchbox>
  <dua-vertical-bar></dua-vertical-bar>
  <span class="smallusermenu fa fa-ellipsis-v"></span>
</div>

<div *screenLarge class="header">
  <div class="logoandmenu">
    <dua-logo></dua-logo>
  </div>
  <div class="mainmenu">
  </div>
  <dua-searchbox #searchBox placeholder="Ctrl-Q" keyCombination="Ctrl+Q"></dua-searchbox>
  <dua-vertical-bar></dua-vertical-bar>
  <dua-userbox></dua-userbox>
</div>
