<div class="search-bar">
  <input id="searchBox" type="text" placeholder="search" required #searchbox (keyup)="query.next($event.target.value)" (keydown)="onKeydown($event)" [(ngModel)]="searchValue"/>
  <label for="searchBox" class="fa fa-search inlineicon"></label>
</div>

<div *ngIf="results.length > 0">
  <div class="searchresult" [style.top.px]="popupTop" [style.left.px]="0">
    <ul>
      <li *ngFor="let result of results">
        <div *ngIf="result.category.length > 0" class="searchcategory">{{ result.category }}</div>
        <ul>
          <li *ngFor="let element of result.elements"
                        (mouseenter)="selectedElement=element;selectedCategory=result"
                        (mouseleave)="selectedElement=null;selectedCategory=null"
                        (click)="selectItem(result,element)"
                        [ngClass]="{'searchelement':true,'selectedElement':(selectedElement==element && selectedCategory==result)}">
            {{ element.name }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
