<p-toolbar>
    <div class="ui-toolbar-group-left">
        <button pButton type="button" icon="fa-plus" label="New" class="ui-button-info" (click)="createNewPermission()"></button>            
    </div>
</p-toolbar>

<p-dataTable [value]="permissions.value" sortField="name" [editable]="true">
    <p-column field="name" header="Name"></p-column>
    <p-column field="origin" header="Origin"></p-column>
    <p-column field="allowType" header="Access" [editable]="true">
        <ng-template let-col let-permission="rowData" pTemplate="editor">
            <p-dropdown [(ngModel)]="permission[col.field]" [options]="access" [autoWidth]="false" [style]="{'width':'100%'}" required="true" appendTo="body" (onChange)="allowTypeChanged(permission, $event)"></p-dropdown>
        </ng-template>
    </p-column>
</p-dataTable>



<p-dialog header="Permission" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-g">
        <label for="name" class="ui-g-4 ui-md-12">Name</label>
        <p-dropdown id="name" class="ui-g-8 ui-md-12" [options]="availablePermissions"  [(ngModel)]="permission.name" appendTo="body"></p-dropdown>

        <label for="name" class="ui-g-4 ui-md-12">Access</label>
        <p-selectButton class="ui-g-8 ui-md-12" [options]="access" [(ngModel)]="permission.allowType"></p-selectButton>
    </div>

    <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <!-- <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button> -->
                <button type="button" pButton icon="fa-check" (click)="savePermission()" label="Save"></button>
            </div>
        </p-footer>
</p-dialog>
