@import '~styles.scss';

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-left: 10px;        
}

.grid-item-wrapper {
    display: flex;
    justify-content: center;
}

.grid-item {
    display: grid;
    border: #6d8c9b;
    border-style: solid;
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    width: 130px;
    height: 130px;
    justify-content: center;
    justify-content: center;
    align-items: end;
    box-shadow: 0px 1px 3px rgba(2, 64, 90, 0.05) inset, 0px 0px 8px rgba(81, 193, 183, 0.6);
}

.active {
    cursor: pointer;
}

.disabled {
    background-color: $dualog-blue20;
    opacity:0.5;
}

.grid-image {
    vertical-align: middle;
}

.menutext {
    display: flex;
    align-items: flex-end;
}
