
@import '~styles.scss';

.cardsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.vcard {
    padding: 1em;
}

.vcard-icon {
    height: 100%;
    border: $dualog-aqua;    
    border-style: solid;
}

.vcard-applies {
    padding-left: 1em;    
}

.vcard-disabled {
    background-color: $dualog-blue60;
    color: $dualog-black;    
}

.vcard-enabled {
    background-color: $dualog-aqua;
    color: $dualog-black;
}

.vcard-focus {
    border: $dualog-aqua;    
    border-style: solid;
}

.vcard-comparemode {
    pointer-events: none;
    opacity: 0.4;
}

.vcard-unfocused {
    border: $dualog-blue60;    
    border-style: solid;
    background-color: $dualog-blue20;
}

.vcard-content {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    margin-top: 1em;
}

.card-direction-vertical {
    background-image: url('/assets/img/vertical.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

.card-direction-horizontal {
    background-image: url('/assets/img/horizontal.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}