<!-- The dropdown menu children -->
<p-overlayPanel #submenu [dismissable]="true" (onAfterHide)="leaveOpenMenu($event)">
    <div *ngIf="openMenuItem">
        <div *ngIf="openMenuItem.items">
            <div class="ui-grid-row" *ngFor="let submenuitem of openMenuItem.items">
                <div class="ui-grid-col-12">
                    <a class="dua-hmenubar-subitem" [routerLink]="[submenuitem.routerLink]" (click)="openSite($event); submenu.hide()">
                        <i class="fa {{submenuitem.icon}} dua-hmenubar-subitem-icon">&nbsp;</i>
                        {{submenuitem.label}}
                    </a>
                    <div>
                        <ng-template ngFor let-child [ngForOf]="(root ? item : submenuitem.items)">
                            <a class="dua-hmenubar-childitem" *ngIf="child.routerLink" [routerLink]="[child.routerLink]" (click)="openSite($event); submenu.hide()">
                                {{child.label}}
                            </a>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-overlayPanel>

<div class="ui-grid-row dualog-blue-second center-div">
    <div *ngFor="let item of items">
      <span class="dua-hmenubar-item" [class.dualog-blue-second-invert]="isMenuItemOpen(item)" (click)="activateSubMenu($event, item); submenu.toggle($event);">{{item.label}}</span>            
    </div>                
</div>
<div class="ui-grid-row dualog-blue-second-invert">
    <dua-breadcrumb></dua-breadcrumb>
</div>
