
@import '~styles.scss';

.dua-hmenubar-item {
    cursor: pointer;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.dua-hmenubar-subitem {
    cursor: pointer;
    text-decoration: none;
}

.dua-hmenubar-subitem-icon {
    margin-right: 0.4em;
}

.dua-hmenubar-childitem {
    cursor: pointer;
    text-decoration: none;
    margin-left: 3em;
    font-size: 0.9em;       
}
