
@import '~styles.scss';

.fleetcardHeader {
    display: flex;
    border-color: $dualog-blue60;
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 0px;
}

.fleetcardheader-icon {
    background-color: $dualog-nordic-light40;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.no-search-fleet {
    font-weight: bold;
}
