@import '~styles.scss';
:host {
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    background-color: white;
    color: $dualog-blue;
    cursor: pointer;
    box-sizing: border-box;
    white-space: nowrap;
}

:host:not(.parent-is-popup) {
    margin-left: 0px;
    width: auto;
}

span {
    pointer-events: none;
}

.glyphicon {
    top: 1px;
    font-size: 14px;
}

.glyphicon-menu-left,
.glyphicon-menu-right,
.glyphicon-menu-down {
    float: right;
}

.menu-item {
    padding: 10px 20px 10px 10px;
    color: $dualog-blue20;
}

.menu-item:hover {
    background-color: $dualog-aqua40;
    color: $dualog-blue60;
}

.router-link-active {
    color: $dualog-blue80;
}

.menu-img {
    margin: 0;
    padding: 0;
    vertical-align:middle;
    height: 36px;
}
