span.caption{
    display: inline;
    font-size: 12px;
}

span.description{
    display: inline;
    font-size: 10px;
    color: dimgray;
}

input{
    border: 1px solid lightgrey;   
    font-size: 12px;
    padding: 2px;
}

div.container{
}

div.error{
    color: red;
}
