@import '~styles.scss';

.copy {
  padding: 0;
  margin: 0;
  border-color: $dualog-blue;
}

.copywrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tablecontent {
  margin: 1rem;
}


.buttonrow {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
