<div class="ui-grid ui-grid-responsive ui-fluid">

    <dua-cards 
        [selectedShip]="selectedShip" 
        [selectedCompareShip]="selectedCompareShip" 
        cardsTitle="Network Control"
        (showFleet)="showFleet($event)" 
        (updateShip)="handleShipChange($event)" 
        (updateCompare)="handleCompareChange($event)"
        advancedSearchContext="networkcontrol">
        
        <div compareShip>
            <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                    <!-- FLEET INFORMATION-->
                    <div class="ui-grid-col-12" *ngIf="!gotCompareShip">
                       Information from the fleet:
                       <li>Overview ships with networkcontrol?</li>
                       <li>Quota settings?</li>
                    </div>
                    <!-- COMPARE SHIP INFORMATION -->
                    <div class="ui-grid-col-12" *ngIf="gotCompareShip">
                       Ship information - compare mode
                    </div>
                </div>
            </div>
        </div>
        <div selectedShip>
             <div class="ui-grid ui-grid-responsive ui-fluid">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        Ship settings
                    </div>
                </div>
            </div>
        </div>
 </dua-cards>
