
<label class="link" (click)="showAdvancedSearch($event);"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></label>

<p-dialog 
    header="{{title}}"
    modal="true"
    [responsive]="true"
    closeOnEscape="true"
    closable="true"
    dismissableMask="true"
    [resizable]="true"
    [draggable]="false"
    rtl="true"
    positionTop="30"
    positionLeft="20"
    [(visible)]="showsAdvancedSearch"
    [class.fleet]="searchStyle === 'compare'"
    [class.ship]="searchStyle === 'ship'">

    <ng-content></ng-content>

    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12 center-content card-icon" [class.icon-compare]="searchStyle === 'compare'" [class.icon-ship]="searchStyle === 'ship'">
                &nbsp;<br>
                &nbsp;
            </div>            
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-12 center-content">

                <p-dataTable 
                    #shipselectoradvancedsearch 
                    [value]="filterShips" 
                    scrollable="true" 
                    scrollHeight="200px" 
                    [rows]="20" 
                    virtualScroll="virtualScroll"
                    selectionMode="single" 
                    [(selection)]="_selectedShip"
                    (onRowSelect)="onShipSelected($event.data);"
                    exportFilename="ships"
                    [responsive]="true"
                    [loading]="isSearching"
                    [csvSeparator]="csvSeparator">
                            
                    <p-header>
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-2">                                    
                                </div>
                                <div class="ui-grid-col-8">
                                    <div>Click on the ship you want to select</div>
                                </div>                                
                                <div class="ui-grid-col-2">
                                    <p-splitButton label="Export" icon="fa-download" (onClick)="shipselectoradvancedsearch.exportCSV()" [model]="exportItems"></p-splitButton>
                                </div>
                            </div>
                        </div>
                    </p-header>

                    <p-column field="id" hidden="true"></p-column>
                    
                    <ng-template *ngIf="!fields.customSetup">
                        <p-column field="overrideQuarantine" header="Have custom changes" [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
                            <ng-template pTemplate="filter" let-col>
                                <p-dropdown 
                                    [options]="customSetups"
                                    [style]="{'width':'100%'}"
                                    (onChange)="shipselectoradvancedsearch.filter($event.value,col.field,col.filterMatchMode)"
                                    styleClass="ui-column-filter">
                                </p-dropdown>
                            </ng-template>
                        </p-column>
                    </ng-template>
                    
                    <p-column field="name" header="Name" [filter]="true" filterPlaceholder="Search" filterMatchMode="contains"></p-column>

                    <ng-template *ngIf="!fields.category">
                        <p-column field="category" header="Category" [filter]="true" filterPlaceholder="Search"></p-column>
                    </ng-template>

                </p-dataTable>
            </div>
        </div>
    </div>
</p-dialog>

