<i class="fa fa-bars fa-2x" (click)="openMenu($event)"></i>

<p-sidebar [(visible)]="isOpen" [baseZIndex]="10000" [fullScreen]="true">
    <nav>
        <div>
            <div *ngFor="let item of items; let f=first; let l=last;" [class.active]="item.isActive">
                <div class="menu-item" (click)="handleClick($event, item)">
                    <span *ngIf="item.icon" class="fa {{ item.icon }}"></span>
                    <span class="menu-text">{{ item.text }}</span>
                </div>
                <hr class="linestyle">
                <div *ngIf="item.expanded">
                    <div *ngFor="let subitem of item.submenu">
                        <div *ngIf="item.expanded" class="sub-menu" (click)="handleClick($event, subitem)">
                            <!--span *ngIf="subitem.icon" class="fa {{ subitem.icon }}"></span-->
                            <img *ngIf="subitem.gridImage" class="grid-img" [src]='subitem.gridImage' alt="{{ subitem.text }}">
                            <span class="submenu-text">{{ subitem.text }}</span>
                        </div>
                        <hr class="linestyle">
                        <div *ngIf="subitem.submenu">
                            <dua-leftsubmenu-item 
                                class="submenu"
                                mobileStyle="true"
                                [item]="subitem"
                                [expanded]="subitem.expanded"
                                (onSelectedItem)="closeMenu($event)">
                            </dua-leftsubmenu-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</p-sidebar>