

@import '~styles.scss';
:host {
    display: flex;
    vertical-align: center;
    font-size: 0.9rem;
    background-color: #f7f8f8;
    color: #02405a;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0.5rem;
    align-items: center;
}

.menu-item {
    font-weight: bold;
    font-size: 1.8rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    text-indent: 0.3rem;
}

$submenusize: 1.8rem;

.sub-menu {
    text-indent: 3rem;
    font-size: $submenusize;    
}

.grid-img {
    height: $submenusize;
    vertical-align: middle;
}

.active {
    background-color: $dualog-white;
    color: $dualog-blue;    
}

.linestyle {
    border-style: ridge;
}