
@import '~styles.scss';

:host {
    flex-grow: 1;
}

.bluecardContent {
    border: solid;
    border-color: $dualog-blue60;
    background-color: transparent;
}

.isComparing {
    /* pointer-events: none;
    opacity: 0.6;*/
}
