
<p-autoComplete #search *ngIf="ships" class="search-field"
    [(ngModel)]="compareShip" 
    [minLength]="3" 
    placeholder="{{placeholder}}" 
    (onSelect)="selectingCompareShip($event)" 
    [suggestions]="resultShips" 
    field="name" 
    (completeMethod)="onSearch($event)"
    (onBlur)="disableSearch($event)"
    autoHighlight="true">
</p-autoComplete>
<label class="fa fa-search inlineicon"></label>

<dua-fleetcardadvancedsearch
    [searchContext]="searchContext"
    [currentCompareShip]="currentCompareShip"
    (onShipSelected)="selectingCompareShip($event)">
</dua-fleetcardadvancedsearch>

<button *ngIf="compareShip !== undefined"
    class="cross"
    (click)="showFleet($event)">
    
    <i class="fa fa-times" title="Show fleet"></i>
</button>
