@import '~styles.scss';

div.list {
    //background-color: $dualog-blue-fifth; 
    width: 30%;
    height: 100%;
}

div.details {
    //background-color: $dualog-blue-fifth; 
    width: 70%;
    height: 100%;
}