
@import '~styles.scss';

.menuitem {
    padding: 1em;
}

.menuitem-icon {
    border: $dualog-aqua;    
    border-style: solid;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}

.menuitem-header {
    background-color: $dualog-blue60;
    font-weight: bold;
    padding-left: 1em;
}

.nc-icon {
    background-image: url('/assets/configuration/internet/icon-networkcontrol.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.nc-overview {
    background-image: url('/assets/configuration/internet/network_control.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
