<div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui_grid_row">
        <div class="ui-grid-col-4">
            <dua-shipselector [advancedSearchContext]="advancedSearchContext" searchStyle="compare" [searchTitle]="searchCompareTitle" [emptyAutocomplete]="emptyAutocompleteCompareShip" placeholder="Compare ship" (shipUpdated)="handleCompareChange($event)">
                <ng-content select="[compareship]"></ng-content>
            </dua-shipselector>
        </div>
        <div class="ui-grid-col-4 content-header">
            <h2>{{headerTitle}}</h2>
        </div>                
        <div class="ui-grid-col-4">
            <dua-shipselector [advancedSearchContext]="advancedSearchContext" searchStyle="ship" [searchTitle]="searchShipTitle" placeholder="Find ship" (shipUpdated)="handleShipChange($event)">
                <ng-content select="[ship]"></ng-content>
            </dua-shipselector>
        </div>
    </div>
</div>

