
@import '~styles.scss';

:host {
    flex-grow: 1;
}

.cardHeader {
    display: flex;
    border-color: $dualog-aqua;
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 0px;
}

.cardheader-icon {
    background-color: $dualog-nordic-light40;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

