
@import '~styles.scss';

:host {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

:host ::ng-deep p-autocomplete {
    width: 100%;
    margin-right: 0.5rem;
}

:host ::ng-deep p-autocomplete .ui-widget {
    width: 100%;
}

:host ::ng-deep p-autocomplete .ui-widget input {
    width: 100%;
    background-color: $dualog-aqua20;
    color: $dualog-blue;
    border-color: $dualog-aqua;
    font-weight: bolder;
    font-size: $fontSizeBig;
}


:host ::ng-deep p-autocomplete .ui-widget input::-webkit-input-placeholder {
    color: $dualog-blue;
}

:host ::ng-deep p-autocomplete .ui-widget input::-ms-input-placeholder {
    color: $dualog-blue;
}

:host ::ng-deep p-autocomplete li.ui-autocomplete-list-item.ui-corner-all.ui-state-highlight{
    background-color: $dualog-aqua80;
}

.inlineicon {
    position: absolute;
    left: calc(100% - 7.5em);
    color: $dualog-blue80;
    padding-right: 15px;
}
