
<p-autoComplete #search *ngIf="ships" class="search-field"
    [(ngModel)]="selectedShip" 
    [minLength]="3" 
    placeholder="{{placeholder}}" 
    (onSelect)="selectingShip($event)" 
    [suggestions]="resultShips" 
    field="name" 
    (completeMethod)="onSearch($event)"
    (onBlur)="disableSearch($event)"
    autoHighlight="true">
</p-autoComplete>

<dua-shipcardadvancedsearch [searchContext]="searchContext" 
                            [currentShip]="currentShip"
                            (onShipSelected)="selectingShip($event)"
                            ></dua-shipcardadvancedsearch>
