<p-autoComplete 
    placeholder="Quick search" 
    [(ngModel)]="selectedRoute" 
    [suggestions]="filteredRoutes" 
    (completeMethod)="filterRoutes($event)"
    (onSelect)="selectRoute($event)"  
    [size]="300" 
    [minLength]="3"
    autoHighlight="true">
        
        <ng-template let-route pTemplate="item">
            <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                <div class="linkroute" [routerLink]="[route.routerLink]" (onClick)="selectRoute(route)"> 
                    <i class="fa {{route.icon}}"></i> 
                    <label class="linkroute-header">{{route.label}}</label> 
                    <br>                     
                    <!--rm: {{route.rank}}
                    <br> -->
                    <label class="linkroute-description">{{route.description}}</label>
                    <br *ngIf="route.description !== undefined"> 
                    <label class="linkroute-link">({{route.routerLink}})</label>
                </div>
            </div>
        </ng-template>
</p-autoComplete>
