
<div class="item" [class.isInvisible]="isSearching" [class.isVisible]="!isSearching">
    
    <label *ngIf="currentCompareShip == undefined">{{title}}</label>    
    <label *ngIf="currentCompareShip !== undefined">{{currentCompareShip?.name}}</label>    
    
    <button *ngIf="currentCompareShip !== undefined" class="icon" (click)="showFleet($event)"><i class="fa fa-times"></i></button>
    <button class="icon" (click)="enableSearch($event)"><i class="fa fa-pencil"></i></button>
    
</div>
<div class="search-bar" [class.isInvisible]="!isSearching" [class.isVisible]="isSearching">
    <input type="search" #search id="search" placeholder="{{currentCompareShip?.name}}" autofocus (blur)="disableSearch($event)"/>
    <dua-fleetcardadvancedsearch [searchContext]="searchContext" (onShipSelected)="selectingCompareShip($event)"></dua-fleetcardadvancedsearch>
</div>
