@import '~styles.scss';
$size: 16px;
:host {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-field {
    color: red;
    display: flex;
    align-items: center;
}

.search-advanced {
    align-items: center;
    display: flex;        
}

.inlineicon {
    position: absolute;
    top: calc(50% - 1.5em);
    left: calc(100% - 1.5em);
    color: $dualog-blue80;
    padding-right: 15px;
}

.link {
    color: $dualog-blue80;
    margin-left: 5px;
    position: relative;
    bottom: 2px;
}