
.business-mail-overview {
    background-image: url('/assets/configuration/email/business_mail.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}


.crew-mail-overview {
    background-image: url('/assets/configuration/email/crew_mail.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}
